!!!
%html
  = Haml::Engine.new(File.read("components/header.haml")).render
  %body
    = Haml::Engine.new(File.read("components/common-navbar.haml")).render
    = Haml::Engine.new(File.read("components/conversor-content.haml")).render
  
    = Haml::Engine.new(File.read("components/footer.haml")).render
    = Haml::Engine.new(File.read("components/common_js.haml")).render
    %script{:src => "./node_modules/xml-formatter/browser/xml-formatter.js"}
    %script{:src => "./js/conversor.js", :type => "module"}

