!!!xhtml
%html
  = Haml::Engine.new(File.read("components/header.haml")).render
  %body
    = Haml::Engine.new(File.read("components/common-navbar.haml")).render
    = Haml::Engine.new(File.read("components/reasoning-content.haml")).render
  
    = Haml::Engine.new(File.read("components/footer.haml")).render
    = Haml::Engine.new(File.read("components/common_js.haml")).render
    %script{:src => "./js/reasoning.js", :type => "module"}
