%header
  %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    %a.navbar-brand.crowd-header.text-white{:href => "http://crowd.fi.uncoma.edu.ar"}
      c r o w d - conversor
    %button.navbar-toggler{:type => "button", 'data-toggle' => 'collapse',
                           'data-target' => '#navbarCollapse',
                           'aria-controls' => 'navbarNav',
                           'aria-expanded' => 'false',
                           'aria-label' => 'Toggle Navigation'}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarCollapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => './index.html'} Home
        %li.nav-item
          %a.nav-link(href="./conversor.html") Conversor
        %li.nav-item
          %a.nav-link(href="./reasoning.html") Reasoning services
        %li.nav-item
          %a.nav-link(href="./validator.html") Validator

      %ul.navbar-nav
        %li.nav-item
          %a.nav-link(href="http://crowd.fi.uncoma.edu.ar") crowd
        %li.nav-item
          %a.nav-link{:href => 'http://crowd.fi.uncoma.edu.ar/wiki'} Wiki

      .float-right
        %img{:src => 'imgs/gnu-inside.png'}

