%main{:role => 'main'}
  .container

    %h1 Input
    %p Paste here the JSON export of your UML diagram.
    .form-group
      %p Examples
      = Haml::Engine.new(File.read("components/example-selector.haml")).render
      %textarea.form-control#input
      %button.btn.btn-secondary.btn-sm#btn-beautify
        Beautify

    .form-group
      %select.form-control#slt-to
        %option(value="v1tov2") JSON v1 to v2
        %option(value="v2tov1") JSON v2 to v1
        %option(value="html") JSON v1 to Berardi DL in HTML
        %option(value="owllink") JSON v1 to Berardi DL in OWLlink
        %option(value="owlxml") JSON v1 to Berardi DL in OWL/XML

    .form-group.form-check
      %input.form-check-input#prefix_iri(type="checkbox" checked="true")
      %label.form-checx-label(for="prefix_iri")
        Add a default IRI as name prefix

    %button.btn.btn-primary#btn-convert Convert
    %button.btn.btn-secondary#btn-validate Validate

    %h1 Output
    %button.btn.btn-sm.btn-secondary#btn-copy-output
      Copy
    %button.btn.btn-sm.btn-secondary#btn-beautify-output
      Beautify
    .server-output
      %code#output

