.input-group
  %select.form-control#slt-examples
    %option(value="simple-v1") Simple V1
    %option(value="simple-v2") Simple V2
    %option(value="coffee") Coffee
  .input-group-append
    %button.btn.btn-secondary#btn-example(type="button")
      Load example
