%footer.text-muted.mt-5.border-top
  .container.pt-2
    %a{:href => "http://faiweb.uncoma.edu.ar"}
      %img{:src => "./imgs/FAI.jpg", :width => "50px",
           :alt => "FAIF logo"}
      %img{:src => "./imgs/UNComa.jpg", :width => "50px",
           :alt => "UNComa logo"}
      U.N.Coma., Fa.I.
    \|
    %a{:href => "https://cs.uns.edu.ar"}
      %img{:src => "./imgs/DCIC.png", :width => "50px", :alt => "DCIC logo"}
      %img{:src => "./imgs/UNS.jpg", :width => "50px", :alt => "UNS logo"}
      U.N.S., D.C.I.C.

    %p.float-right
      %a{:href => "#"} Back to top
