%head
  %meta{:charset => "utf-8"}
  %meta{'http-equiv' => "content-type",
        :content => "text/html; charset=UTF-8"}
  %meta{:name => 'viewport',
        :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
  %meta{:name => "author", :content => "Gimenez, Christian"}
  %link{:rel => "stylesheet", :href => "./css/highlight.min.css"}
  %link{:rel => "stylesheet", :href => "./css/bootstrap.min.css"}
  %link{:rel => 'stylesheet', :href => './css/index.css'}
  %title crowd Conversor

