%main{:role => 'main'}
  .container
    %p
      There are two version of crowd:
      %a(href="http://crowd.fi.uncoma.edu.ar/wicom-qdod/web-src/model_editor.php?type=UML")
        version 1 (v1)
      and
      %a(href="http://crowd.fi.uncoma.edu.ar/crowd2/crowd2-gui")
        version 2 (v2)
      \. Both of them can export the diagram in a JSON syntax.

    %p
      This software process the JSON text exported from crowd. Possible options are:

    .text-center
      .btn-group-vertical.btn-group-lg
        %a.btn.btn-secondary(href="./conversor.html")
          Convert the JSON to other formats.
        %a.btn.btn-secondary(href="./reasoning.html")
          Use the reasoning services.
        %a.btn.btn-secondary(href="./validator.html")
          Validate the JSON using a JSON-schema.
