%main{:role => 'main'}
  .container

    %h1 Input

    .form-group
      %label Paste here the JSON export of your UML diagram.
      = Haml::Engine.new(File.read("components/example-selector.haml")).render
      %textarea.form-control#input
      %button.btn.btn-secondary.btn-sm#btn-beautify
        Beautify

    .form-group
      %label Select a JSON version.
      %select.form-control#json-version
        %option(value="1") Version 1 (crowd 1 export)
        %option(value="2") Version 2 (crowd 2 export)

    .form-group
      %label
        Insert any OWLlink XML to be appended. See
        %a(href="http://www.owllink.org/") OWLlink Web page
        or the
        %a(href="http://www.w3.org/Submission/owllink-structural-specification/")
          OWLlink specification.
      %p
        Snippets:
        .btn-group#owllink-snippets(role="group")
          = Haml::Engine.new(File.read("components/reasoning/snippets.haml")).render      
      %textarea.form-control#owllink

    .form-group
      %label Select the type of reasoning service.
      %select.form-control#check-type
        %option(value="satisf")
          Berardi's translation with satisfiability check

    .form-group
      %label Check the reasoner to use.
      %select.form-control#reasoner
        %option(value="Racer") Racer
        %option(value="Konclude") Konclude

    %button.btn.btn-primary#btn-request
      .spinner-grow.spinner-grow-sm(role="status" aria-hidden=true)
      Request reasoning

    %h1 Output


    .text-center#loading
      .spinner-border(role="status")
        .sr-only Loading...

    %button.btn.btn-sm.btn-secondary#btn-copy-output
      Copy
    .server-output
    .reasoner-answer.accordion#accordion-output
      .satisfiable.card
        .card-header
          %h2
            %button.btn.btn-link{"data-toggle" => "collapse",
                                 "data-target" => "#col-satisfiable" }
              Satisfiable
        #col-satisfiable.collapse{"data-parent" => "#accordion-output" }
          .card-body
            %p
              The reasoner output is parsed and processed to create a JSON.
              The interface use this JSON to display information about the
              satisfiable elements on the diagram.
            %code#satisfiable

      .reasoner-input.card
        .card-header
          %h2
            %button.btn.btn-link{"data-toggle" => "collapse",
                                 "data-target" => "#col-input"}
              Reasoner input
        #col-input.collapse{"data-parent" => "#accordion-output"}
          .card-body
            %p The reasoner receives the following as input.
            %code#reasoner-input

      .reasoner-output.card
        .card-header
          %h2
            %button.btn.btn-link{"data-toggle" => "collapse",
                                 "data-target" => "#col-output"}
              Reasoner output
        #col-output.collapse{"data-parent" => "#accordion-output"}
          .card-body
            %p The following is the reasoner output.
            %code#reasoner-output

      .errors.card
        .card-header
          %h2
            %button.btn.btn-link{"data-toggle" => "collapse",
                                 "data-target" => "#col-errors"}
              Errors
        #col-errors.collapse{"data-parent" => "#accordion-output"}
          .card-body
            #errors

      .complete-output.card
        .card-header
          %h2
            %button.btn.btn-link{"data-toggle" => "collapse",
                                 "data-target" => "#col-complete"}
              Complete Answer
        #col-complete.collapse{"data-parent" => "#accordion-output"}
          .card-body
            %p This is the complete answer received for the server.
            %code#output

= Haml::Engine.new(File.read("components/reasoning/snippets-src.haml")).render
