%main{:role => 'main'}
  .container
    %p
      You can validate the JSON text by using a
      %a(href="https://json-schema.org/") JSON-schema
      \. There are the following possible schemas available:

    %ul
      %li
        %a(href="../reasoning/json_validators/v1-schema.json") V1 Schema
      %li
        %a(href="../reasoning/json_validators/v2-schema.json") V2 Schema

    %h1 Input
    %p Paste here the JSON export of your diagram.
    .form-group
      %p Examples.
      = Haml::Engine.new(File.read("components/example-selector.haml")).render
      %textarea.form-control#input
      %button.btn.btn-secondary.btn-sm#btn-beautify
        Beautify
    .form-group
      %p Select the schema to validate with.
      %select.form-control#slt-schema
        %option(value="v1") JSON-schema v1
        %option(value="v2") JSON-schema v2

    %button.btn.btn-primary#btn-validate
      .spinner-grow.spinner-grow-sm(role="status" aria-hidden=true)
      Validate

    %h1 Output
    .text-center#loading
      .spinner-border(role="status")
        .sr-only Loading...

    %button.btn.btn-sm.btn-secondary#btn-copy-output
      Copy
    .validator-output
      #valid

      %table.table.table-hover#details
        %thead
          %tr
            %th Error description
        %tbody

      %code#output
    
