%script#GetDescription{type: "text/xml"}
  %GetDescription

%script#CreateKB{type: "text/xml"}
  %CreateKB(name="string" kb="owl.fullIRI")
    / 0..* Prefix:
    %Prefix(name="string" fullIRI="owl.fullIRI")
 
  
%script#GetPrefixes{type: "text/xml"}
  %GetPrefixes

%script#GetSettings{type: "text/xml"}
  %GetSettings
  
%script#Set{type: "text/xml"}
  %Set(key="string")
    %Literal value
    / 1..* Literal
  
%script#ReleaseKB{type: "text/xml"}
  %ReleaseKB(kb="owl.fullIRI")
  
%script#Tell{type: "text/xml"}
  %Tell(kb="owl.fullIRI")
    / 1..* owl.Axoms
  
%script#LoadOntologies{type: "text/xml"}
  %LoadOntologies{considerImports: "boolean"}
    / 1..*
    %OntologyIRI{IRI: "owl.fullIRI"}
    / 0..* ordered and unique
    %IRIMapping{key: "string", value: "owl.fullIRI"}
  
%script#Classify{type: "text/xml"}
  %Classify
  
%script#Realize{type: "text/xml"}
  %Realize
  

-# Entailment Queries, KB Entities, and KB Status:

%script#IsEntailed{type: "text/xml"}
  %IsEntailed
    / 1 owl.Axiom
  
%script#IsEntailedDirect{type: "text/xml"}
  %IsEntailedDirect
    / 1 owl.Axiom
  
%script#GetAllObjectProperties{type: "text/xml"}
  %GetAllObjectProperties
  
%script#GetAllIndividuals{type: "text/xml"}
  %GetAllIndividuals
  
%script#GetAllClasses{type: "text/xml"}
  %GetAllClasses
  
%script#GetAllAnnotationProperties{type: "text/xml"}
  %GetAllAnnotationProperties
  
%script#GetAllDatatypes{type: "text/xml"}
  %GetAllDatatypes
  
%script#GetAllDataProperties{type: "text/xml"}
  %GetAllDataProperties
  
%script#IsKBSatisfiable{type: "text/xml"}
  %IsKBSatisfiable
  
%script#IsKBConsistentlyDeclared{type: "text/xml"}
  %IsKBConsistentlyDeclared
  
%script#GetKBLanguage{type: "text/xml"}
  %GetKBLanguage
  

-# Querie about classes and properties:

%script#IsClassSatisfiable{type: "text/xml"}
  %IsClassSatisfiable
    / 1 owl.ClassExpression
    %owl:Class(abbreviatedIRI="prefix:sufix")
  
%script#GetDisjointClasses{type: "text/xml"}
  %GetDisjointClasses
    / 1 owl.ClassExpression
    %owl:Class(abbreviatedIRI="prefix:sufix")

%script#GetSubClasses{type: "text/xml"}
  %GetSubClasses(direct="boolean")
    / 1 owl.ClassExpression
    %owl:Class(abbreviatedIRI="prefix:sufix")
  
%script#GetSuperClasses{type: "text/xml"}
  %GetSuperClasses(direct="boolean")
    / 1 owl.ClassExpression
    %owl:Class(abbreviatedIRI="prefix:sufix")
  
%script#GetEquivalentClasses{type: "text/xml"}
  %GetEquivalentClasses
    / 1 owl.ClassExpression
    %owl:Class(abbreviatedIRI="prefix:sufix")
  
%script#GetSubClassHierarchy{type: "text/xml"}
  %GetSubClassHierarchy
    / 0..1 owl.Class
    %owl:Class(abbreviatedIRI="prefix:sufix")
  
%script#IsObjectPropertySatisfiable{type: "text/xml"}
  %IsObjectPropertySatisfiable
    / 1 owl.objectPropretyExpression
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetSubObjectProperties{type: "text/xml"}
  %GetSubObjectProperties(direct="boolean")
    / 1 owl.objectPropretyExpression
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetSuperObjectProperties{type: "text/xml"}
  %GetSuperObjectProperties(direct="boolean")
    / 1 owl.objectPropretyExpression
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetEquivalentObjectProperties{type: "text/xml"}
  %GetEquivalentObjectProperties
    / 1 owl.objectPropretyExpression
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetDisjointObjectProperties{type: "text/xml"}
  %GetDisjointObjectProperties
    / 1 owl.objectPropretyExpression
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetSubObjectPropertyHierarchy{type: "text/xml"}
  %GetSubObjectPropertyHierarchy
    / 0..1 owl.objectProprety
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
  
%script#IsDataPropertySatisfiable{type: "text/xml"}
  %IsDataPropertySatisfiable
    / 1 owl.dataProperty
    %owl:DataProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetSubDataProperties{type: "text/xml"}
  %GetSubDataProperties(direct="boolean")
    / 1 owl.dataProperty
    %owl:DataProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetSuperDataProperties{type: "text/xml"}
  %GetSuperDataProperties(direct="boolean")
    / 1 owl.dataProperty
    %owl:DataProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetEquivalentDataProperties{type: "text/xml"}
  %GetEquivalentDataProperties
    / 1 owl.dataProperty
    %owl:DataProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetDisjointDataProperties{type: "text/xml"}
  %GetDisjointDataProperties
    / 1 owl.dataProperty
    %owl:DataProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetSubDataPropertyHierarchy{type: "text/xml"}
  %GetSubDataPropertyHierarchy
    / 0..1 owl.dataProperty
    %owl:DataProperty(abbreviatedIRI="prefix:sufix")


-# Queries about Individuals:

%script#GetTypes{type: "text/xml"}
  %GetTypes(direct="boolean")
    / 1 owl.Individual
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")

%script#GetFlattenedTypes{type: "text/xml"}
  %GetFlattenedTypes(direct="boolean")
    / 1 owl.Individual
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")
  
%script#GetDifferentIndividuals{type: "text/xml"}
  %GetDifferentIndividuals
    / 1 owl.Individual
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")

%script#GetFlattenedDifferentIndividuals{type: "text/xml"}
  %GetFlattenedDifferentIndividuals
    / 1 owl.Individual
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")

%script#GetSameIndividuals{type: "text/xml"}
  %GetSameIndividuals
    / 1 owl.Individual
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")
  
%script#GetObjectPropertiesOfSource{type: "text/xml"}
  %GetObjectPropertiesOfSource(negative="boolean")
    / 1 owl.Individual (sourceIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")    
  
%script#GetObjectPropertiesBetween{type: "text/xml"}
  %GetObjectPropertiesBetween(negative="boolean")
    / 1 owl.Individual (sourceIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")    
    / 1 owl.Individual (targetIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")    
  
%script#GetObjectPropertiesOfTarget{type: "text/xml"}
  %GetObjectPropertiesOfTarget(negative="boolean")
    / 1 owl.Individual (targetIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")

%script#GetDataPropertiesOfSource{type: "text/xml"}
  %GetDataPropertiesOfSource(negative="boolean")
    / 1 owl.Individual (sourceIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")    

%script#GetDataPropertiesBetween{type: "text/xml"}
  %GetDataPropertiesBetween(negative="boolean")
    / 1 owl.Individual (sourceIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")
    / 1 owl.Literal (targetValue)
    %owl:Literal{datatypeIRI: "xmls:integer"}
      20

%script#GetDataPropertiesOfLiteral{type: "text/xml"}
  %GetDataPropertiesOfLiteral(negative="boolean")
    / 1 owl.Literal (targetValue)
    %owl:Literal{datatypeIRI: "xmls:integer"}
      20
  
%script#GetInstances{type: "text/xml"}
  %GetInstances(direct="boolean")
    / 1 owl.ClassExpression
    %owl:Class(abbreviatedIRI="prefix:sufix")
  
%script#GetObjectPropertyTargets{type: "text/xml"}
  %GetObjectPropertyTargets(negative="boolean")
    / 1 owl.Individual (sourceIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")    
    / 1 owl.ObjectPropertyExpression
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetObjectPropertySources{type: "text/xml"}
  %GetObjectPropertySources(negative="boolean")
    /1 owl.ObjectPropertyExpression
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
    / 1 owl.Individual (targetIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")    
  
%script#GetFlattenedInstances{type: "text/xml"}
  %GetFlattenedInstances(direct="boolean")
    / 1 owl.ClassExpression
    %owl:Class(abbreviatedIRI="prefix:sufix")
  
%script#GetFlattenedObjectPropertyTargets{type: "text/xml"}
  %GetFlattenedObjectPropertyTargets(negative="boolean")
    / 1 owl.Individual (sourceIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")    
    / 1 owl.ObjectPropertyExpression
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
  
%script#GetFlattenedObjectPropertySources{type: "text/xml"}
  %GetFlattenedObjectPropertySources(negative="boolean")
    /1 owl.ObjectPropertyExpression
    %owl:ObjectProperty(abbreviatedIRI="prefix:sufix")
    / 1 owl.Individual (targetIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")    
  
%script#GetDataPropertyTargets{type: "text/xml"}
  %GetDataPropertyTargets
    / 1 owl.Individual (sourceIndividual)
    %owl:NamedIndividual(abbreviatedIRI="prefix:sufix")    
    / 1 owl.dataProperty
    %owl:DataProperty(abbreviatedIRI="prefix:sufix")
    
%script#GetDataPropertySources{type: "text/xml"}
  %GetDataPropertySources(negative="boolean")
    / 1 owl.dataProperty
    %owl:DataProperty(abbreviatedIRI="prefix:sufix")
    / 1 owl.Literal (targetValue)
    %owl:Literal{datatypeIRI: "xmls:integer"}
      20
    
%script#GetFlattenedDataPropertySources{type: "text/xml"}
  %GetFlattenedDataPropertySources(negative="boolean") 
    / 1 owl.dataProperty
    %owl:DataProperty(abbreviatedIRI="prefix:sufix")
    / 1 owl.Literal (targetValue)
    %owl:Literal{datatypeIRI: "xmls:integer"}
      20
