.btn-group(role="group")
  %button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button"
                                                   data-toggle="dropdown")
    Retrieving Entites
  .dropdown-menu

    %h6.dropdown-header Entailment Queries
    %button.dropdown-item(type="button")
      IsEntailed
    %button.dropdown-item(type="button")
      IsEntailedDirect

    %h6.dropdown-header KB Entities
    %button.dropdown-item(type="button")
      GetAllObjectProperties
    %button.dropdown-item(type="button")
      GetAllIndividuals
    %button.dropdown-item(type="button")
      GetAllClasses
    %button.dropdown-item(type="button")
      GetAllAnnotationProperties
    %button.dropdown-item(type="button")
      GetAllDatatypes
    %button.dropdown-item(type="button")
      GetAllDataProperties

    %h6.dropdown-header KB Status
    %button.dropdown-item(type="button")
      IsKBSatisfiable
    %button.dropdown-item(type="button")
      IsKBConsistentlyDeclared
    %button.dropdown-item(type="button")
      GetKBLanguage

.btn-group(role="group")
  %button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button"
                                                   data-toggle="dropdown")
    Classes and Properties
  .dropdown-menu

    %h6.dropdown-header Querying classes
    %button.dropdown-item(type="button")
      IsClassSatisfiable
    %button.dropdown-item(type="button")
      GetDisjointClasses
    %button.dropdown-item(type="button")
      GetSubClasses
    %button.dropdown-item(type="button")
      GetSuperClasses

    %h6.dropdown-header Class hierarchy
    %button.dropdown-item(type="button")
      GetEquivalentClasses
    %button.dropdown-item(type="button")
      GetSubClassHierarchy

    %h6.dropdown-header Object properties
    %button.dropdown-item(type="button")
      IsObjectPropertySatisfiable
    %button.dropdown-item(type="button")
      GetSubObjectProperties
    %button.dropdown-item(type="button")
      GetSuperObjectProperties
    %button.dropdown-item(type="button")
      GetEquivalentObjectProperties
    %button.dropdown-item(type="button")
      GetDisjointObjectProperties
    %button.dropdown-item(type="button")
      GetSubObjectPropertyHierarchy

    %h6.dropdown-header Data properties
    %button.dropdown-item(type="button")
      IsDataPropertySatisfiable
    %button.dropdown-item(type="button")
      GetSubDataProperties
    %button.dropdown-item(type="button")
      GetSuperDataProperties
    %button.dropdown-item(type="button")
      GetEquivalentDataProperties
    %button.dropdown-item(type="button")
      GetDisjointDataProperties
    %button.dropdown-item(type="button")
      GetSubDataPropertyHierarchy

.btn-group(role="group")
  %button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button"
                                                   data-toggle="dropdown")
    Individuals and Facts
  .dropdown-menu

    %h6.dropdown-header About individuals
    %button.dropdown-item(type="button")
      GetTypes
    %button.dropdown-item(type="button")
      GetFlattenedTypes
    %button.dropdown-item(type="button")
      GetDifferentIndividuals
    %button.dropdown-item(type="button")
      GetFlattenedDifferentIndividuals
    %button.dropdown-item(type="button")
      GetSameIndividuals

    %h6.dropdown-header Properties related to individuals
    %button.dropdown-item(type="button")
      GetObjectPropertiesOfSource
    %button.dropdown-item(type="button")
      GetObjectPropertiesBetween
    %button.dropdown-item(type="button")
      GetObjectPropertiesOfTarget
    %button.dropdown-item(type="button")
      GetDataPropertiesOfSource
    %button.dropdown-item(type="button")
      GetDataPropertiesBetween
    %button.dropdown-item(type="button")
      GetDataPropertiesOfLiteral

    %h6.dropdown-header Related individuals and instances
    %button.dropdown-item(type="button")
      GetInstances
    %button.dropdown-item(type="button")
      GetObjectPropertyTargets
    %button.dropdown-item(type="button")
      GetObjectPropertySources
    %button.dropdown-item(type="button")
      GetFlattenedInstances
    %button.dropdown-item(type="button")
      GetFlattenedObjectPropertyTargets
    %button.dropdown-item(type="button")
      GetFlattenedObjectPropertySources

    %h6.dropdown-header Individuals related to literals
    %button.dropdown-item(type="button")
      GetDataPropertyTargets
    %button.dropdown-item(type="button")
      GetDataPropertySources
    %button.dropdown-item(type="button")
      GetFlattenedDataPropertySources

.btn-group(role="group")
  %button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button"
                                                   data-toggle="dropdown")
    Reasoner and KB mgmnt.
  .dropdown-menu
    %h6.dropdown-header KB management
    %button.dropdown-item(type="button")
      GetDescription
    %button.dropdown-item(type="button")
      CreateKB
    %button.dropdown-item(type="button")
      GetPrefixes
    %button.dropdown-item(type="button")
      GetSettings
    %button.dropdown-item(type="button")
      Set
    %button.dropdown-item(type="button")
      ReleaseKB

    %h6.dropdown-header Tells
    %button.dropdown-item(type="button")
      Tell
    %button.dropdown-item(type="button")
      LoadOntologies

    %h6.dropdown-header Reasoner invocation
    %button.dropdown-item(type="button")
      Classify
    %button.dropdown-item(type="button")
      Realize
